<!doctype html>
<html>
  <head>
    <base href="/ud-meetup-event-planner-angular/">
    <meta charset="utf-8">
    <title>Event Planner</title>
    <meta name="description" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="http://fountainjs.io/assets/imgs/fountain.png">

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="maps/styles/vendor-4348d43098.css.map">

    <link rel="stylesheet" href="maps/styles/app-4d8e99bbae.css.map">
  </head>


  <body ng-app="eventplanner">
    <div layout="column" layout-fill>
      <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Settings">
            <a ui-sref="home">
              <md-icon class="material-icons">home</md-icon>
            </a>
          </md-button>
          <h2>
            <span>Event Planner</span>
          </h2>
          <span flex=""></span>

          <md-button class="md-icon-button" aria-label="Create Event" ui-sref="event.create" ng-if="loggedUser">
            <md-icon md-font-icon="classname">event</md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="View Events" ui-sref="event.list" ng-if="loggedUser">
            <md-icon md-font-icon="classname">view_list</md-icon>
          </md-button>
          <md-button class="md-icon-button md-warn" ng-click="vm.logout()" ng-if="loggedUser" ng-controller="LogoutController as vm">
            <md-icon class="material-icons">exit_to_app</md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-content layout-padding>
        <ui-view>
      </md-content>
    </div>
  </body>

  <script src="maps/scripts/vendor-f4b8d611f5.js.map"></script>

  <script src="maps/scripts/app-a880c13dd6.js.map"></script>

  <script type="text/javascript">

    // function initAutocomplete() {
    //   console.log('Google Places Autocomplete API callback function called.');
    // }

    // $.material.init();
  </script>
</html>
