<md-toolbar >
  Sign up
</md-toolbar>

<br />

<div>
  <form name="userForm" ng-submit="vm.createUser(userForm)" novalidate>

    <md-content flex>
      <md-input-container class="md-block">
        <label>Name</label>
        <input ng-model="vm.user.name" ng-required="true" autocomplete="name" autofocus id="inputName">
        <div class="hint">Please, tell us your name</div>
      </md-input-container>

      <script>$(document).trigger('autofocus_ready');</script>

      <md-input-container class="md-block md-icon-float">
        <label>E-mail</label>
        <input type="email" ng-model="vm.user.email" ng-required="true" autocomplete="email" name="inputEmail">

        <div class="hint" ng-if="!vm.user.email && !userForm.inputEmail.$viewValue">
          Ex: youemail@domain.com
        </div>

        <div class="hint" md-colors="{color: 'red'}" ng-if="userForm.inputEmail.$error.email">
          The e-mail <strong>{{userForm.inputEmail.$viewValue}}</strong> is invalid!
        </div>

        <div class="hint" md-colors="{color: 'green'}" ng-if="userForm.inputEmail.$viewValue && !userForm.inputEmail.$error.email">
          The e-mail <strong>{{userForm.inputEmail.$viewValue}}</strong> is perfect!
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Password</label>
        <input type="password" ng-model="vm.user.password" ng-required="true" name="inputPassword"
          ng-pattern="/^(?:(?=.*[a-z])(?:(?=.*[A-Z])(?=.*[\d\W])|(?=.*\W)(?=.*\d))|(?=.*\W)(?=.*[A-Z])(?=.*\d)).{8,}$/">

        <div class="hint" ng-if="!vm.user.password && !userForm.inputPassword.$viewValue">
          Minimum 8 digits, with numbers, letters and symbols.
        </div>

        <div class="hint" md-colors="{color: 'red'}" ng-if="userForm.inputPassword.$viewValue && userForm.inputPassword.$invalid">
          <strong>Must have</strong> minimum 8 digits, with numbers, letters and symbols
        </div>

        <div class="hint" md-colors="{color: 'green'}" ng-if="userForm.inputPassword.$viewValue && userForm.inputPassword.$valid">
          This password is good!
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label ng-show="vm.user.password === vm.user.repassword">Retype password</label>
        <label ng-hide="vm.user.password === vm.user.repassword" md-colors="{color: 'red'}">Retype password</label>
        <input id="retypePass" type="password" ng-model="vm.user.repassword"
          name="inputRetypePassword" ng-required="true">

        <div class="hint" ng-if="!vm.user.repassword && !userForm.inputRetypePassword.$viewValue">
          Please, confirm your password
        </div>

        <div class="hint" md-colors="{color: 'red'}" ng-if="userForm.inputPassword.$viewValue !== userForm.inputRetypePassword.$viewValue">
          Passwords don't match!
        </div>

        <div class="hint" md-colors="{color: 'green'}" ng-if="userForm.inputRetypePassword.$viewValue && userForm.inputPassword.$viewValue === userForm.inputRetypePassword.$viewValue">
          Passwords match!
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Employer</label>
        <input ng-model="vm.user.employer" >
        <div class="hint">Your employer</div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Job title</label>
        <input ng-model="vm.user.jobTitle" >
        <div class="hint">Your job title</div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Birthday</label>
        <md-datepicker id="userBirthday" ng-model="vm.user.birthday" md-open-on-focus></md-datepicker>
      </md-input-container>

      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button type="submit" class="md-raised md-primary" ng-disabled="userForm.$invalid || vm.user.password !== vm.user.repassword">Create</md-button>
        <md-button class="md-raised md-warn" ui-sref="home">Cancel</md-button>
      </section>
    </md-content>

  </form>

</div>
