<md-toolbar >
  Event creation
</md-toolbar>

<br />

<md-content flex>

  <form name="eventForm" novalidate ng-submit="vm.createEvent(eventForm)">

    <md-input-container class="md-block">
      <label>Name</label>
      <input ng-model="vm.event.name" ng-required="true" autofocus id="inputEventName">
      <div class="hint">The name of your event</div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Type</label>
      <input id="eventType" list="typeList" ng-model="vm.event.type" ng-required="true">
      <div class="hint">Ex: birthday party, conference talk, wedding, etc.</div>
      <datalist id="typeList">
        <option value="Birthday"></option>
        <option value="Conference Talk"></option>
        <option value="Party"></option>
        <option value="Show"></option>
        <option value="Wedding"></option>
      </datalist>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Host</label>
      <input id="eventHost" ng-model="vm.event.host" ng-required="true">
      <div class="hint">Who is the event host?</div>
    </md-input-container>

    <div class="range layout-column flex-gt-md-30">
      <md-input-container class="md-input-has-placeholder">
        <label>Start date</label>
        <input mdc-datetime-picker="" date="true" time="true" type="text"
          min-date="vm.minDate" max-date="vm.event.endDate"
          ng-model="vm.event.startDate" class=" md-input" id="input_0">
      </md-input-container>

      <md-input-container class="md-input-has-placeholder">
        <label>End date</label>
        <input mdc-datetime-picker="" date="true" time="true" type="text"
          min-date="vm.minDate"="vm.event.startDate"="vm.event.endDate"
          ng-model="vm.event.endDate" class=" md-input" id="input_1">
      </md-input-container>
    </div>

    <md-input-container class="md-block">
      <label>Address</label>
      <input id="eventAddress" ng-model="vm.event.address" ng-required="true" autocomplete="address-line1">
    </md-input-container>

    <md-input-container md-no-float class="md-block">
      <label>Address 2</label>
      <input id="eventAddress2" ng-model="vm.event.address2" autocomplete="address-line2">
    </md-input-container>

    <div layout-gt-sm="row">
      <md-input-container class="md-block">
        <label>City</label>
        <input id="eventCity" ng-model="vm.event.city" ng-required="true" autocomplete="address-level2">
      </md-input-container>

      <md-input-container class="md-block">
        <label>State</label>
        <md-select id="eventState" ng-model="vm.event.state" ng-required="true" autocomplete="address-level1">
          <md-option ng-repeat="state in vm.states" value="{{state.abbrev}}">
            {{state.name}}
          </md-option>
        </md-select>
      </md-input-container>

    </div>

    <md-input-container class="md-block">
      <label>Gest list</label>
      <md-chips id="eventGuests" name="eventGuests"
        ng-model="vm.event.guests"
        md-separator-keys="vm.separatorKeys"
        placeholder="Write and press return"
        secondary-placeholder="Another name">
      </md-chips>
      <div class="hint" md-colors="{color: 'red'}" ng-show="vm.event.guests.length === 0">
        You must add at least one guest.
      </div>
    </md-input-container>

    <md-switch ng-model="vm.notifyGuests" aria-label="Notify guests">
      Send a note for guests?
    </md-switch>

    <md-input-container class="md-block" ng-if="vm.notifyGuests">
      <label>Notification</label>
      <textarea id="eventGuestsNotification" ng-model="vm.event.notification"
        md-maxlength="150" rows="5" md-select-on-focus>
      </textarea>
    </md-input-container>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button type="submit" class="md-raised md-primary" ng-disabled="eventForm.$invalid || vm.event.guests.length === 0">Create</md-button>
      <md-button class="md-raised md-warn" ui-sref="home">Cancel</md-button>
    </section>

  </form>

</md-content>
