<div ng-if="!loggedUser">
  <form name="userForm" novalidate ng-submit="vm.login(userForm)">

    <md-toolbar >
      Authentication
    </md-toolbar>

    <br />

    <md-content flex>

      <md-input-container class="md-block md-icon-float">
        <label>E-mail</label>
        <input ng-model="vm.user.email" ng-required="true" autofocus id="inputEmail">
      </md-input-container>

      <md-input-container class="md-block">
        <label>Password</label>
        <input type="password" ng-model="vm.user.password" ng-required="true">
      </md-input-container>

      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button type="submit" class="md-raised md-primary" ng-disabled="userForm.$invalid">
          <md-icon class="material-icons">forward_next</md-icon>
          Login
        </md-button>
        <md-button class="md-raised md-warn" ui-sref="signup">
          <md-icon class="material-icons">person_add</md-icon>
          Signup
        </md-button>
      </section>
    </md-content>

  </form>

</div>

<div layout-gt-xs="row" ng-if="loggedUser">

  <md-toolbar >
    Welcome, {{loggedUser.name}}!
  </md-toolbar>
</div>
